<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class = "navbar-brand" href = "https://www.cdm.depaul.edu/academics/pages/courseinfo.aspx?Subject=CSC&CatalogNbr=436" target="_blank">CSC 436</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a routerLink="/airport" routerLinkActive="active" class="nav-item nav-link"><i class="fas fa-paw"></i>Home</a>
      <a routerLink="/about" routerLinkActive="active" class="nav-item nav-link"><i class="fas fa-paw"></i>About</a>
    </div>
  </div>


